*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Georgia';
}
body{
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    width: 100vw;
}


/* Nav Section */
nav{
    grid-row: 1/2;
    background-color: lightcyan;
    width: 100vw;
    height: 50px;
    position: fixed;
}
nav > ul{
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Main Section */
main{
    grid-row: 2/3;
    background-color: black;
}


/* Footer Section */
footer{
    grid-row: 3/4;
    background-color: lightcyan;
    width: 100vw;
    height: 50px;
    position: fixed;
        bottom: 0px;

    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
}
footer > p{
    grid-column: 1/2;
    padding-left: 80px;
    font-size: 18px;
}
#social-media{
    grid-column: 2/3;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
#social-media > a{
    text-decoration: none;
}
.social-media{
    width: 40px;
}