*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    width: 100vw;
}
aside{
    grid-column: 1/2;
    background-color: lightcyan;
}
main{
    grid-column: 2/3;
    background-color: black;
}