*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Georgia';
}

/* App Component */
.App{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100vh;
  width: 100vw;
}

/* Nav Component */
.Nav{
  grid-row: 1/2;
  background-color: lightcyan;
  width: 100vw;
  height: 50px;
  position: fixed;
}

.Nav > ul{
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* Footer Component */
.Footer{
  grid-row: 3/4;
  background-color: lightcyan;
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0px;

  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  align-items: center;
}
.Footer > p{
  grid-column: 1/2;
  padding-left: 80px;
  font-size: 18px;
}
.Footer > #social-media{
  grid-column: 2/3;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.Footer > #social-media > a{
  text-decoration: none;
}
.Footer > #social-media > a > .social-media{
  width: 40px;
}

.About{
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.Home{
  background-color: orange;
  height: 100vh;
  width: 100vw;
}
.Projects{
  background-color: purple;
  height: 100vh;
  width: 100vw;
}
.Contact{
  background-color: blue;
  height: 100vh;
  width: 100vw;
}